.maincontainer {
  background-color: antiquewhite;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 480px) {
  .maincontainer {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
