@import "tailwindcss";

body {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr 40px;
}

@media only screen and (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 120px 60px;
  }
}
