@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 80px 1fr 60px;
}

@media only screen and (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 120px 60px;
  }
}
